@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
  text-transform: capitalize;
  overflow-x: hidden;
}

section {
  padding: 50px 0px ;
  margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
  text-transform: capitalize;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}

.slick-slider{
  overflow: hidden;
  margin-top: 10px;
}

@media only screen and (max-width:992px) {
  .primary__btn a , .secondary__btn a {
    font-size: 0.9rem;
  }

  .primary__btn , .secondary__btn , .btn-dark {
    padding: 0.2rem 1.1rem !important;
  }

  section {
    padding: 40px 0;
  }
  .hero-content {
    padding-top: 5rem;
}

  .hero-content h1 {
    font-size: 2.7rem;
    font-weight: 500;
  }

  .service-title {
    margin-bottom: 1.7rem;
  }

  .feature-tour-title {
    margin: 1.3rem 0;
  }

  .slick-prev:before, .slick-next:before {
    display: none;
  }
  .newsletter-subscribe input {
    width: 60%;
  }
  .newsletter-btn {
    width: 33% !important;
  }

  .social-footer {
    margin: 10px 0;
  }
  .footer-link-title {
    font-size: 1.2rem;
  }

  .copy-write {
    margin-top: 1rem !important;
  }

  .review-input {
    border-radius: 60px !important;
    padding: 1rem 1.2rem;
  }

  .review-input input {
    padding: 0.5rem 0.7rem;
  }

  .review-item {
    border-bottom: 2px #ddd solid;
    padding-bottom: 10px;
  }

  .list-btn {
    padding: 0.5rem 0.6rem !important;
    font-size: 1.2rem !important;
  }

  .loginImg {
    display: none;
  }

  .user-icon-login-field {
    margin: 10px auto !important;
    position: static !important;
    transform: translate(0,0) !important;
  }

  .login-field, .register-field{
    width: 100% !important;
    height: 100vh !important;
    padding-top: 8rem !important;
  }

  .dropdown-content{
    bottom: -87px;
  }

  .book-container {
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem !important;
    margin-top: 2rem;
  }

  .book-details-container {
    width: 90% !important;
    text-align: center;
  }

  .users-container {
    margin-top: 2rem;
  }

  .users-details{
    flex-direction: column;
  }

  .name,
  .role,
  .icons,
  .dashboard-input,
  .input-dashboard-container span{
    width: 100% !important;
  }

  .create-tour-form{
    margin-top: 3rem !important;
  }

  .input-dashboard-container{
    flex-direction: column;
  }

  .tour-content img{
    height: auto !important;
  }

  .tour-info{
    text-align: center !important;
  }

  .tour-info .address{
    justify-content: center;
  }

  .tour-info .info{
    flex-direction: column;
  }

  .booking{
    margin-top: 2rem;
  }

}